@import "bootstrap/bootstrap";
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.logo {
    background: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 121px;
    height: 55px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.dropdown-icon {
    padding-top: 10px;
    span {
        display: block;
        width: 36px;
        height: 10px;
        border-bottom: 4px solid $success;
    }
}

@media (max-width: 768px) {
    .logo {
        position: relative;
        left: 40%;
    }
    .dropdown-icon {
        position: relative;
        right: 20px;
    }
}

.drop {
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0px;
    z-index: 1000;
    li {
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        height: 56px;
        padding-top: 14px;
        border-bottom: 1px solid rgb(240, 236, 222);
        background: white;
    }
}
.banner {
    margin-bottom: 60px;
}
.mglarge {
    margin-bottom: 200px;
}
.meaningless {
    width: 550px;
    a {
        width: 44px;
        height: 44px;
    }
    i {
        font-size: 44px;
    }
}
.banner-img {
    width: 100%;
    margin-bottom: 12px;
}
@media (min-width: 768px) {
    .banner-img {
        width: 200px;
        height: 288px;
        margin-top: 108px;
        margin-bottom: 24px;
    }
}
@media (min-width: 992px) {
    .banner-img {
        width: 41.4%;
        height: 736px;
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 1075px;
    }
}
@media (min-width: 768px) {
    .service-bg-high {
        height: 210px !important;
    }
    .service-bg-high-mix{
        height: 105px !important;
    }
}
.banner-title {
    text-align: center;
}

.home-title {
    h2 {
        font-size: 32px;
    }
    h4 {
        font-size: 20px;
    }
}
.pdt120px {
    padding-top: 120px;
}

.card-img-circle {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.pt-11 {
    padding-top: 3.75rem !important;
}
.pb-7 {
    padding-bottom: 1.75rem !important;
}
.service-bg {
    background: rgba(0, 0, 0, 0.4);
}
.service-bg-high {
    height: 132px;
}
.service-bg-high-mix{
    height: 132px;
}
a:hover {
    .card-img-overlay {
        transition: 1s;
        background: 0;
    }
    .hover {
        background-color: $light;
        color: $danger !important;
    }
}
.card-img-overlay {
    background: rgba(0, 0, 0, 0.4);
}
.current-img {
    background-image: url(../images/index-9.jpeg);
    height: 812px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (min-width: 768px) {
    .current-img {
        height: 584px;
    }
}
.current-title {
    font-size: 40px;
}
.fs-xxl {
    font-size: 48px;
}
.footer-logo {
    width: 121px;
    height: 55px;
}
@media (min-width: 768px) {
    .fs-md-1 {
        font-size: 40px;
    }
    .fs-md-2 {
        font-size: 20px;
    }
    .col-md-9 {
        width: 75% !important;
    }
    .footermail-md {
        width: 350px !important;
    }
    .footermail-send-md {
        width: 160px !important;
    }
    .footer-logo {
        width: 121px;
        height: 55px;
    }
}
.home-input-group-button {
    width: 100% !important;
}
.home-stay-img {
    padding-top: 200px;
}
@media (min-width: 992px) {
    .home-input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .home-input-group-button {
        width: 15% !important;
        height: 48px !important;
    }
    .form-select-lg {
        width: 25% !important;
    }
    .col-lg-11 {
        width: 90% !important;
    }
}
.h-stay {
    height: 140px;
}
.tooo {
    width: 5% !important;
    transform: translateY(12%);
}